@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    @apply font-meri
}

/* scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    @apply h-1
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-secondary2 rounded-lg
}

.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-[#f1f1f1]
}

/* css header start */
.aktif{
    @apply border-b-2 border-primary2 text-dark 
}

.nav-fixed{
    @apply fixed z-[998] bg-white bg-opacity-80;
    backdrop-filter: blur[5px];
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2); 
}

.lg-fixed-nav{
    @apply w-1/2 py-4 z-[999] bg-white bg-opacity-80 rounded-lg fixed top-0 left-1/2 transform -translate-x-1/2 ;
    backdrop-filter: blur[5px];
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.2);
}
.aniout{
    @apply ease-out transition duration-300
}

.sidebar-fixed{
    @apply fixed z-[999]
}

/* sidebar */
.sidebar-open{
    @apply scale-100
}
.sidebar-closed{
    transform: translateX(-100%);
    @apply transition-transform ease-in-out duration-300
}
.sidebar-menu-open{
    transform: translateX(0);
}
.sidebar-menu-closed{
    transform: translateX(-100%);
}

/* up btn */
.up-btn-non{
    @apply scale-0
}
.up-btn-aktif{
    @apply scale-100
}
/* css header end */

/* testimonial slider start */
    .slide-enter-active, .slide-leave-active {
        /* @apply transition-opacity */
        transition: opacity 4s;
    }
    .slide-enter, .slide-leave-to {
        @apply transition duration-1000;
        opacity: 0;
    }
/* testimonial slider end */
